@{ViewBag.Title = "Home Page";}

@using IndividualProject_BLOG.Classes
@model IEnumerable<IndividualProject_BLOG.Models.Post>

<section class="row">

    @foreach (var post in Model)
    {
        <article class="post col-md-6">
            <h2 class="title">@post.Title</h2>
            <div class="about">
                Published by
                @if (post.Author != null)
                {
                    @Html.DisplayFor(modelItem => post.Author.UserName)
                }
                else
                {
                    @:Anonymous
            }
                on <i>@post.Date</i>
            </div>
            <div class="body">
                @Html.Raw(Utillities.CutText(post.Body)) 
            </div>
        </article>
    }
</section> 
    