@{ViewBag.Title = "Home Page";}

<section class="row">
    <article class="post col-md-6">
        <h2 class="title">Post Title</h2>
        <div class="about">
            Published by <i>Oleg Dimitrov (olegsd)</i>
            on <i>24-aug-2016</i>
        </div>
        <div>
            Post body ...
            <p>Some text</p>
        </div>
    </article>
</section>
<section class="row">
    <article class="post col-md-6">
        <h2 class="title">Post header</h2>
        <div>
            Published by <i>Oleg Dimitrov (olegsd)</i>
            on <i>24-aug-2016</i>
        </div>
        <div>
            Post body ...
            <p>Some text</p>
        </div>
    </article>
</section>
<section class="row">
    <article class="post col-md-6">
        <h2 class="title">Post header</h2>
        <div>
            Published by <i>Oleg Dimitrov (olegsd)</i>
            on <i>24-aug-2016</i>
        </div>
        <div>
            Post body ...
            <p>Some text</p>
        </div>
    </article>
</section>
<section class="row">
    <article class="post col-md-6">
        <h2 class="title">Post header</h2>
        <div>
            Published by <i>Oleg Dimitrov (olegsd)</i>
            on <i>24-aug-2016</i>
        </div>
        <div>
            Post body ...
            <p>Some text</p>
        </div>
    </article>
</section>
<section class="row">
    <article class="post col-md-6">
        <h2 class="title">Post header</h2>
        <div>
            Published by <i>Oleg Dimitrov (olegsd)</i>
            on <i>24-aug-2016</i>
        </div>
        <div>
            Post body ...
            <p>Some text</p>
        </div>
    </article>
</section>
<section class="row">
    <article class="post col-md-6">
        <h2 class="title">Post header</h2>
        <div>
            Published by <i>Oleg Dimitrov (olegsd)</i>
            on <i>24-aug-2016</i>
        </div>
        <div>
            Post body ...
            <p>Some text</p>
        </div>
    </article>
</section>
<section class="row">
    <article class="post col-md-6">
        <h2 class="title">Post header</h2>
        <div>
            Published by <i>Oleg Dimitrov (olegsd)</i>
            on <i>24-aug-2016</i>
        </div>
        <div>
            Post body ...
            <p>Some text</p>
        </div>
    </article>
</section>
